/* div{
    height: 100px;
    width: 300px;
    background-color: aqua;
    border: 3px solid black; */
    /* transition-property: all;
    transition-duration: 3s; */
    /* transition-timing-function: steps(5); */
    /* transition-timing-function: ease-in;
    transition-delay: 2s; */

    /* transition: all 3s ease-in-out 0.2s;
} */

/* div:hover{
    width: 100px;
    font-size: 25px;
    background-color: red;
    color: azure;
}

div:active{
    width: 300px;
    font-size: initial;
    background-color: coral;
} */

.container{
    height: 40vh;
    width: 50vw;
    background-color: antiquewhite;
}

.box{
    height: 4vh;
    width: 5vw;
    background-color: darkcyan;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-timing-function: cubic-bezier(0.17, 0.73, 0.01, 1.15);
    transition-delay: 1s; */
    /* SHORTHAND */
    /* transition: all 3s ease-in-out 0.5s; */
    transition: all 3s cubic-bezier(0.11, 0.75, 0, 0.98) 0.5s;
}

.translate{
    transform: translateX(10vw) translateY(10vh) scale(2);
    background-color: chocolate;
}