/* div{
    height: 100px;
    width: 100px;
    top: 100px;
    left: 100px;
    position: absolute;
    background-color: brown;
    border: 3px solid black; */
    /* border-radius: 50%; */
    /* animation-name: color_animate;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite; */
    /* animation-direction: normal; */
    /* animation-direction: reverse; */
    /* animation-direction: alternate; */
    /* animation-direction: alternate-reverse; */
    /* Shorthand */
    /* animation: color_animate 3s linear 1s infinite normal;
} */

/* @keyframes color_animate {
    from{
        left: 0px;
        background-color: brown;
    }
    to{
        left: 300px;
        background-color: cyan;
    }
} */

/* @keyframes color_animate {
    0% {
        left: 0px;
        background-color: brown;
    }
    25%{
        top: 500px;
        background-color: sienna;
    }
    50%{
        top: 0;
        left: 300px;
        background-color: cornsilk;
    }
    75%{
        top: 500px;
        background-color: royalblue;
    }
    100% {
        left: 600px;
        background-color: cyan;
    }
} */

.container{
    height: 80vh;
    width: 30vw;
    background-color: darkcyan;
}

.box{
    position: absolute;
    height: 45px;
    width: 35px;
    background-color: aqua;
    /* animation-name: animate_yash;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-play-state: running; */

    animation: animate_yash 2s ease-in-out 1s normal backwards, animate2 2s ease-in-out 1s normal;
}

@keyframes animate_yash {
    from{
        background-color: red;
        transform: translateX(20px);
    }
    to{
        background-color: royalblue;
        transform: translateX(1000px);
    }
}

@keyframes animate2 {
    0%{
        transform: rotate(50deg);
        left: 100px;
    }

    25%{
        transform: rotate(150deg);
        top: 100px;
        left: 200px;
    }
    
    50%{
        transform: rotate(250deg), scale(3);
        top: 300px;
        left: 500px;
    }
    
    75%{
        transform: rotate(300deg);
        top: 500px;
        left: 300px;
    }

    100%{
        transform: rotate(360deg);
        top: 100px;
        left: 100px;
    }
}