div{
    height: 100px;
    width: 100px;
    top: 100px;
    left: 100px;
    position: absolute;
    background-color: brown;
    border: 3px solid black;
    /* border-radius: 50%; */
    /* animation-name: color_animate;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite; */
    /* animation-direction: normal; */
    /* animation-direction: reverse; */
    /* animation-direction: alternate; */
    /* animation-direction: alternate-reverse; */
    /* Shorthand */
    animation: color_animate 3s linear 1s infinite normal;
}

/* @keyframes color_animate {
    from{
        left: 0px;
        background-color: brown;
    }
    to{
        left: 300px;
        background-color: cyan;
    }
} */

@keyframes color_animate {
    0% {
        left: 0px;
        background-color: brown;
    }
    25%{
        top: 500px;
        background-color: sienna;
    }
    50%{
        top: 0;
        left: 300px;
        background-color: cornsilk;
    }
    75%{
        top: 500px;
        background-color: royalblue;
    }
    100% {
        left: 600px;
        background-color: cyan;
    }
}

